*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*tout {  font-family: 'Poppins', sans-serif;}

body {
    font-family: 'Poppins', sans-serif;
    background:  background-image: linear-gradient(22.5deg, rgba(66, 66, 66, 0.02) 0%, rgba(66, 66, 66, 0.02) 11%,rgba(135, 135, 135, 0.02) 11%, rgba(135, 135, 135, 0.02) 24%,rgba(29, 29, 29, 0.02) 24%, rgba(29, 29, 29, 0.02) 38%,rgba(15, 15, 15, 0.02) 38%, rgba(15, 15, 15, 0.02) 50%,rgba(180, 180, 180, 0.02) 50%, rgba(180, 180, 180, 0.02) 77%,rgba(205, 205, 205, 0.02) 77%, rgba(205, 205, 205, 0.02) 100%),linear-gradient(67.5deg, rgba(10, 10, 10, 0.02) 0%, rgba(10, 10, 10, 0.02) 22%,rgba(52, 52, 52, 0.02) 22%, rgba(52, 52, 52, 0.02) 29%,rgba(203, 203, 203, 0.02) 29%, rgba(203, 203, 203, 0.02) 30%,rgba(69, 69, 69, 0.02) 30%, rgba(69, 69, 69, 0.02) 75%,rgba(231, 231, 231, 0.02) 75%, rgba(231, 231, 231, 0.02) 95%,rgba(138, 138, 138, 0.02) 95%, rgba(138, 138, 138, 0.02) 100%),linear-gradient(112.5deg, rgba(221, 221, 221, 0.02) 0%, rgba(221, 221, 221, 0.02) 17%,rgba(190, 190, 190, 0.02) 17%, rgba(190, 190, 190, 0.02) 39%,rgba(186, 186, 186, 0.02) 39%, rgba(186, 186, 186, 0.02) 66%,rgba(191, 191, 191, 0.02) 66%, rgba(191, 191, 191, 0.02) 68%,rgba(16, 16, 16, 0.02) 68%, rgba(16, 16, 16, 0.02) 70%,rgba(94, 94, 94, 0.02) 70%, rgba(94, 94, 94, 0.02) 100%),linear-gradient(90deg, #ffffff,#ffffff);
}
.container {
    position: absolute;
    top: 60%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    width: 660px;
    height: 500px;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0.5,0.5,0.5,0.5);
}

.container-onglets{
    background: #f1f1f1;
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: 2px solid slateblue;
}
.onglets {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    cursor:pointer;
}
.onglets:not(:nth-child(5)) {
    border-right: 2px solid #D8BFD8;
}

.contenu {
    height: 70%;
    width: 100%;
    position: absolute;
    opacity: 0;
}
.contenu h3 {
    padding: 20px;
}
.contenu h2 {
    text-decoration: none;
    color: black;
    text-align: right;
    font-size: 20px;
}
.contenu h4 {
    text-transform: none;
    color: black;
    text-decoration-color: none;
    text-align: left;
    padding: 5px 10px;
    background: linear-gradient(to bottom right, #D8BFD8, transparent) ;

}
section#contact2 {
    background-color:#d6D6D6 ;
    padding: 100px 15px ;

}
section#contact2 {
    padding:  100px 0;
    max-width: 1100px;
    margin 0px auto;
    display flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row-reverse;
    height: 540px;
    padding: 30px 10px;
    border-radius: 15px;
     background: linear-gradient(to bottom right, #D8BFD8, transparent) ;
     box-shadow: 0px 10px 50px -10px #D8BFD8;
    box-sizing: border-box;
    
}
section#contact2 .titlec {
    text-align: center;
}
section#contact2 .titlec h6{
    font-size: 40px;
    color: #2a2a2a;
    margin-bottom: 20px;
}
section#contact2 .titlec h3{
    font-size: 25px;
    color: #2a2a2a;
    margin-bottom: 0px;
}
section#contact2 form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
}
section#contact2 form input {
    width: 30%;
}
section#contact2 form input:hover,
section#contact2 form textarea:hover {
    border-bottom: 2px solid lightpink;
}
section#contact2 form input,
section#contact2 form textarea {
    margin: 10px 30px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid ;
    transition: 0,2s;
}
section#contact2 form textarea {
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 50px;
}
section#contact2 form button {
    width: 200px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    font-weight: bold;
    font-size: 1cm;
    cursor: pointer;
    margin-top: -10px;
    outline: none;
    text-align: center;
    transition: 0,2s;
}
section#contact2 form button:hover {
    transform: translate(-2px);
    box-shadow: rgb(214 214 214) 0px 10px 40px -0px #FEFEE2;
}
@media screen and (max-width: 600px) {
   section#contact2 form {
        flex-direction: column;
        width: 95%;
}
}
   section#contact2 form input{
        width:100% ;
   } 
   section#contact2 .titlec h6{
    font-size: 30px;
}
    section#contact2 .titlec h3{
    font-size: 20px;

}}

hr {
    color: rebeccapurple}

.contenu hr {
    width: 20%;
    height: 2px;
    margin-left: 20px;
    color: rebeccapurple;
    border: none;
}
.contenu p {
    padding: 20px;
}
.contenu ul {
    justify-content: center;
    background: none;
    border: none;
}
.active {
    background: #9370DB;
    color: #f1f1f1;
    transition: all 0.3s ease;
}
/*Partie avec mon nom et prenom*/
.containerNom {
    text-align: center;
    perspective: 100px;
}

.containerNom h1 {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    transform-style: preserve-3d;
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 60;
    letter-spacing: 0px;
    font-size: 40px;
    cursor: pointer;
}
h1 span {
    pointer-events: none;
}
.containerNom hr {
    color: rebeccapurple;
}
.activeContenu {
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {
      opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.table-formation  {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid slategrey;
    background:  linear-gradient(45deg,#D8BFD8, transparent);
}
.table-formation img{
     width: 140px;
    height: 60px;
    position: left;
}
.table-competences{
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid slategrey;
}
.table-competences td { 
    background-color: lightgray;
}

thead tr {
    background-color: slateblue;
    color: #fff;
    text-align: left;
}
th, td {
    padding: 5px 10px;
    text-align: center;
}
tbody tr, td, th {
    border: 1px solid #ddd;
}
tbody tr:nth-child(even){
    background-color: none;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(45deg,burlywood,palevioletred);
    display: flex  ;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
}

.floating-btn img {
    width: 75px;
    height: 75px;
    justify-content: center;
    position: fixed;
}
.floating-btn .downloadcv {
    position: absolute;
    background: lightpink;
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    line-height: left;
    width: 250px;
    transform: translate(-180px,-50%);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    display: none;
    visibility: hidden;
}
.floating-btn:hover .downloadcv{
    display: block;
    visibility: visible;
}
ul{
  list-style-type:none;
  padding: 0;
  margin: 0;
}
li{
  padding-left: 5px;
}
li::before{
  content: "•";
  padding-right: 4px;
  color: green;
}
footer {
    flex-shrink: 0;
    border-top: 100px dashed #fff;
    width: 100%;
    background: #fff;
    color: #333;
    position: bottom;
}

.content-footer {
    max-width: 10px;
    margin: auto ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    padding: 50px 0 100px;

}

.bloc {
    flex-basis: 20%;
    margin: 0 30px;
}

.footer-contact h3,
.footer-services h3,
.footer-planning h3,
.footer-medias h3 {
    font-size: 22px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.footer-contact p {
    padding: 5px 0;
}
.services-list,
.schedule-list,
.media-list {
    list-style-type: none;
}
.services-list li {
    padding: 2px 0;
}
.services-list a {
    text-decoration: none;
    color: #333;
}
.content-footer {
    max-width: 100%;
    flex-wrap: wrap;
}
.media-list {
    position: relative;
    right: 10px;
}

.media-list a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.bloc {
    flex-basis: auto;
    margin: 0px 10px;
}
